
.account{

  &-section{}

  &-types{
    padding-top: 60px;

    @include BootstrapMaxWidthResponsive(1k){
      padding-top: 40px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding-top: 30px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding-top: 20px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding-top: 15px;
    }

    .component-siteaccounttypes{
      padding: 25px 30px;
      @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);
      @include border-radius(6px);

      @include BootstrapMaxWidthResponsive(1k){
        padding: 20px 25px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 15px 20px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 10px 15px;
        @include box-shadow(0 0 0 1px $global-border-light-gray-opacity);
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 7px 10px;
        @include border-radius(3px);
      }
    }
  }

}