
.home{

  &-accounttypes{
    padding: 80px 0;
    position: relative;

    .component-siteaccounttypes{
      margin-top: 80px;
      position: relative;

      > li{
        padding-top: 50px;
        padding-bottom: 40px;
        @include border-radius(6px);

        &:nth-of-type(even){
          @include box-shadow(0 0 0 2px transparentize($global-clr-dark-blue, 0.95));
        }

      }
    }
  }

  &-summarytable{
    padding: 40px 0;

    .sitetitle-xl{
      padding-bottom: 30px;
    }

    .component-summarytable{
      padding: 30px;
    }

  }

  &-platforms{
    padding: 60px 0;
    overflow: hidden;

    .sitetitle-xl{
      padding-bottom: 50px;
    }

    .component-platforms{
      position: relative;

      &::before,
      &::after{
        content: "";
        background-color: $global-clr-white;
        width: 5000px;
        height: 100%;
        @include border-radius(4px);
        @include box-shadow(0 0 0 2px transparentize($global-clr-dark-blue, 0.95));
        position: absolute;
        top: 0;
      }

      &::before{
        left: -5045px;
      }

      &::after{
        right: -5045px;
      }
    }

  }

  &-news{
    padding: 80px 0;

    &-box{
      background-color: $global-clr-white;
      padding: 50px;
      @include border-radius(4px);
      @include box-shadow(0 0 0 2px transparentize($global-clr-dark-blue, 0.95));

      .sitetitle-xl{
        padding-bottom: 40px;
      }

      .bignewsbox{
        background-color: $global-clr-white;
        padding-right: 40px;
        border-right: 1px solid $global-border-light-gray-opacity;
      }

      .smallnewsbox{
        background-color: $global-clr-white;
        padding-left: 40px;
      }
    }
  }

  &-aboutus{
    padding-top: 60px;

    &-row{
      @include flexbox-align-items(center);
    }

    &-img{}

    &-txt{

      .sitetitle{
        height: 100%;
        padding-right: 50px;
      }

      .startaccountbtns{
        max-width: 600px;
        margin-top: 50px;

        .btn{
          color: $global-clr-white;
          display: block;
          height: auto;
          font-size: 18px;
          text-align: left;
          padding: 10px 15px;
          position: relative;
          border: none;
          @include border-radius(2px);

          span, small{
            display: block;
            line-height: 1.25;
          }

          span{
            font-family: $global-font-family-cocogothic-heavy !important;
            font-size: 22px;
            font-weight: 500;
            position: relative;
            top: 4px;
          }

          small{
            font-weight: 300;
          }

          .rightarrow{
            position: absolute;
            right: 15px;
            top: calc(50% - 1px);
            @include translateY(-50%);

            svg{
              fill: $global-clr-white;
              height: 16px;
              opacity: 0.75;
              @include transition-multiple(opacity 0.15s ease-in-out);
            }
          }

          &:hover{
            .rightarrow svg{
              opacity: 1;
            }
          }
        }

        .startaccountinfolinks{
          color: $global-clr-text-dark;
          font-size: 18px;
          margin-top: 15px;
        }
      }
    }
  }

}