
.home{

  &-accounttypes{
    padding: 80px 0;
    position: relative;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 60px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 50px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 30px 0;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding: 25px 0 10px;
    }

    .sitetitle-xl{
      padding-bottom: 80px;

      @include BootstrapMaxWidthResponsive(1k){
        padding-bottom: 60px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding-bottom: 50px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding-bottom: 30px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-bottom: 10px;
      }
    }
  }

  &-summarytable{
    padding: 40px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 30px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 20px 0;
    }

    .sitetitle-xl{
      padding-bottom: 30px;

      @include BootstrapMaxWidthResponsive(hd){
        padding-bottom: 15px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding-bottom: 20px;
      }
    }

    .component-summarytable{
      padding: 30px;

      @include BootstrapMaxWidthResponsive(hd){
        padding: 15px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 0;
      }
    }

  }

  &-platforms{
    padding: 60px 0;
    overflow: hidden;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 50px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 40px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 30px 0;
    }

    .sitetitle-xl{
      padding-bottom: 50px;

      @include BootstrapMaxWidthResponsive(hd){
        padding-bottom: 40px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding-bottom: 30px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-bottom: 25px;
      }
    }
  }

  &-news{
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 50px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 40px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 30px 0;
    }

    .sitetitle-xl{
      padding-bottom: 40px;

      @include BootstrapMaxWidthResponsive(1k){
        padding-bottom: 30px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding-bottom: 15px;
      }
    }
  }
}