
.openaccount{
  color: $global-clr-white;
  background-color: transparentize($global-clr-black, 0.05);
  padding-top: 120px;
  min-height: 120px;
  position: relative;

  &-bg{
    &::before{
      content: "";
      background-image: url(#{$global-img-path}/section/section_open_account_bg.jpg);
      background-position: center top -50px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      opacity: 0.1;
    }
  }

  &-sign{
    padding: 160px 0;

    > .container .row{
      position: relative;
      z-index: 1;
    }
  }

  &-titlearea{
    @include flexbox-display-flex();
    @include flexbox-flex-direction(column);
    @include flexbox-justify-content(center);
    width: 100%;
    height: 100%;
    padding-right: 100px;

    @include BootstrapMaxWidthResponsive(lg){
      max-width: inherit;
      height: inherit;
    }

    .sitetitle{
      @include BootstrapMaxWidthResponsive(lg){
        text-align: center;
      }
    }
  }

  &-formbox{
    color: $global-clr-dark-black;
    background-color: $global-clr-white;
    padding: 40px 35px;
    @include border-radius(3px);

    @include BootstrapMaxWidthResponsive(md){
      padding: 30px;
    }
    @include BootstrapMaxWidthResponsive(sm){
      padding: 25px;
    }
    @include BootstrapMaxWidthResponsive(xm){
      padding: 20px;
    }

    &-head{
      text-align: center;
      margin-bottom: 20px;

      &-title{
        color: $global-clr-text-dark;
        font-family: $global-font-family-cocogothic-heavy !important;
        font-size: 24px;
        line-height: 1.2;
      }

      &-desc{
        color: $global-clr-text-light;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 5px;
      }
    }

    .alert{
      margin-top: 20px;

      @include BootstrapMaxWidthResponsive(sm){
        margin-top: 10px;
      }

      & + form{
        margin-top: 20px;

        @include BootstrapMaxWidthResponsive(sm){
          margin-top: 10px;
        }
      }
    }

    &-form{
      margin-top: 40px;
      position: relative;
      z-index: 1;

      @include BootstrapMaxWidthResponsive(sm){
        margin-top: 10px;
      }

      #{$formclassname}-control{
        &[rows]{
          height: 140px;

          @include BootstrapMaxWidthResponsive(sm){
            height: 100px;
          }
        }
      }

      .input-info{
        color: lighten($global-clr-green, 15%) !important;
        opacity: 1;

        a{color: lighten($global-clr-green, 15%) !important;}
      }
    }
  }

  &-video{
    width: 100%;
    height: 100%;
    background-image: url(#{$global-img-path-slider}/slidervideo/home_video_bg_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    &-movie{
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @include BootstrapMinWidthResponsive(1k){
        width: 100%;
        height: auto;
      }
    }

    &-mask{
      background-color: transparentize($global-clr-black, 0.15);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}