
.partners{

  &-section{

    .partners-feature{
      padding: 60px 0;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 40px 0;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 30px 0 35px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 10px 0 20px;
      }
    }
  }

  &-feature{}

  &-formbox{
    color: $global-clr-dark-black;
    background-color: $global-clr-white;
    padding: 60px 40px;
    @include border-radius(6px);
    @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);

    @include BootstrapMaxWidthResponsive(1k){
      padding: 40px 30px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 35px 25px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      @include box-shadow(0 0 0 1px $global-border-light-gray-opacity);
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding: 25px 20px;
    }

    &-wrp{
      max-width: 800px;
      margin: auto;

      @include BootstrapMaxWidthResponsive(hd){
        max-width: 680px;
      }
    }

    &-head{
      text-align: center;
      padding-bottom: 10px;

      &-title{
        color: $global-clr-text-dark;
        font-family: $global-font-family-cocogothic-heavy !important;
        font-size: 30px;
        line-height: 1.2;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 26px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 24px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 22px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          font-size: 20px;
        }
      }

      &-desc{
        color: $global-clr-text-light;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 5px;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 18px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 16px;
          margin-top: 0;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 15px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          font-size: 14px;
        }
      }
    }

    .alert{
      margin-top: 20px;

      @include BootstrapMaxWidthResponsive(sm){
        margin-top: 10px;
      }

      & + form{
        margin-top: 20px;

        @include BootstrapMaxWidthResponsive(sm){
          margin-top: 10px;
        }
      }
    }

    &-form{
      margin-top: 40px;
      position: relative;
      z-index: 1;

      @include BootstrapMaxWidthResponsive(hd){
        margin-top: 25px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        margin-top: 20px;
      }
      @include BootstrapMaxWidthResponsive(sm){
        margin-top: 10px;
      }

      #{$formclassname}-control{
        &[rows]{
          height: 140px;

          @include BootstrapMaxWidthResponsive(sm){
            height: 100px;
          }
        }
      }

      .input-info{
        color: lighten($global-clr-green, 15%) !important;
        opacity: 1;

        a{color: lighten($global-clr-green, 15%) !important;}
      }
    }
  }

  &-whypartner{
    background-color: $global-border-light-gray-opacity;
    padding: 60px 0;
    height: 100%;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 40px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 30px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 25px 0;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding: 20px 0;
    }

    .sitetitle-xl{
      margin-bottom: 50px;

      @include BootstrapMaxWidthResponsive(1k){
        margin-bottom: 30px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        margin-bottom: 20px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        margin-bottom: 15px;
      }
    }

    &-list{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      //margin-left: -15px;
      //margin-right: -15px;
      padding: 40px;
      border: 1px dotted $global-border-light-gray-focus;
      @include border-radius(6px);

      @include BootstrapMaxWidthResponsive(1k){
        padding: 20px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 15px;
        @include border-radius(3px);
      }
    }

    &-box{
      padding: 15px;
      border: 1px dotted $global-border-light-gray-focus;
      @include flexbox-flex(0 0 calc(100%/3));
      max-width: calc(100%/3);

      &:nth-child(1n+1){
        border-top-width: 0;
        border-left-width: 0;
      }
      &:nth-child(3n+0){
        border-right-width: 0;
      }
      &:nth-child(1n+7){
        border-bottom-width: 0;
      }

      @include BootstrapMaxWidthResponsive(1k){
        padding: 10px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 5px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        @include flexbox-flex(0 0 calc(100%/2));
        max-width: calc(100%/2);
        border-bottom-width: 1px !important;

        &:nth-child(1n+2){
          border-right-width: 0;
        }
        &:nth-child(odd){
          border-right-width: 1px;
        }
        &:last-child{
          border-bottom-width: 0 !important;
        }
      }
      @include BootstrapMaxWidthResponsive(xs){
        @include flexbox-flex(0 0 calc(100%/1));
        max-width: calc(100%/1);
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;

        &:first-child{
          border-top-width: 0;
        }
      }
    }

    &-wpr{
      text-align: center;
      padding: 10px 15px;
      height: 100%;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 5px 10px;
      }

      .icons-sprite{
        display: block;
        margin: 0 auto 15px;
        @include scale(0.75);

        @include BootstrapMaxWidthResponsive(1k){
          @include scale(0.6);
          margin: 0 auto;
        }
        @include BootstrapMaxWidthResponsive(xl){
          @include scale(0.5);
        }
      }

      h4{
        color: $global-clr-text-light;
        font-size: 18px;
        line-height: 1.25;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 16px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 15px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 14px;
        }
      }
    }
  }

}