
.platforms{

  &-section{}

  &-area{
    padding: 70px 0;

    &-box{
      padding: 50px;
      @include border-radius(4px);
      @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);

      > .row{
        @include flexbox-align-items(center);
      }
    }

    .platappdownbtns{
      margin-top: 20px;
    }
  }


}