
.platforms{

  &-section{}

  &-area{
    padding-top: 70px;

    @include BootstrapMaxWidthResponsive(1k){
      padding-top: 50px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding-top: 40px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding-top: 25px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding-top: 15px;
    }

    &-box{
      padding: 40px 50px;
      @include border-radius(4px);
      @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);
      margin-top: 20px;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 30px 40px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 25px 30px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 20px;
        @include box-shadow(0 0 0 1px $global-border-light-gray-opacity);
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 15px;
      }

      &:first-child{margin-top: 0}

      > .row{
        @include flexbox-align-items(center);

        .col-auto{
          max-width: 640px;

          @include BootstrapMaxWidthResponsive(1k){
            max-width: 600px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            max-width: 500px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            max-width: 400px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            max-width: 220px;
          }
        }
      }
    }

    .platappdownbtns{
      margin-top: 20px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-top: 15px;
      }
    }
  }


}