
.products{

  &-section{
    border-bottom: 2px solid $global-border-light-gray-opacity;

    @include BootstrapMaxWidthResponsive(xl){
      border-bottom-width: 1px;
    }

    .products-feature{
      padding: 70px 0;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 50px 0;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 30px 0;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 25px 0;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 15px 0;
      }
    }
  }

  &-feature{}

  &-platforms{
    padding: 60px 0;
    overflow: hidden;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 40px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 30px 0;
    }
    @include BootstrapMaxWidthResponsive(lg){
      padding: 20px 0;
    }

    .sitetitle-xl{
      padding-bottom: 50px;

      @include BootstrapMaxWidthResponsive(hd){
        padding-bottom: 40px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding-bottom: 30px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-bottom: 20px;
      }
    }

  }

}