
.products{

  &-section{

    .products-feature{
      padding: 70px 0;
    }
  }

  &-feature{}

  &-platforms{
    padding: 60px 0;
    overflow: hidden;

    .sitetitle-xl{
      padding-bottom: 50px;
    }

  }

}