
.research{

  &-news{
    .newsimgbg{
      background-color: $global-border-light-gray-opacity;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0ODAiIGhlaWdodD0iMzIwIiB2aWV3Qm94PSIwIDAgNDgwIDMyMCI+DQogIDxnIGlkPSJOb0ltYWdlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzg1IC01MDQpIj4NCiAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlXzIiIGRhdGEtbmFtZT0iUmVjdGFuZ2xlIDIiIHdpZHRoPSI0ODAiIGhlaWdodD0iMzIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzODUgNTA0KSIgZmlsbD0iI2YyZjVmOSIgb3BhY2l0eT0iMCIvPg0KICAgIDxnIGlkPSJpbmRpciIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTI1LjUgNTY0Ljk2NikiPg0KICAgICAgPHBhdGggaWQ9IlBhdGhfMSIgZGF0YS1uYW1lPSJQYXRoIDEiIGQ9Ik0xMTUuOCwxMTAuNmwzMCwzMC4zSDE1OGE0LjY1Myw0LjY1MywwLDAsMCw0LjYtNC42VjEyMy45TDEzMi43LDkzLjdaIiBmaWxsPSJub25lIi8+DQogICAgICA8ZyBpZD0iR3JvdXBfMiIgZGF0YS1uYW1lPSJHcm91cCAyIj4NCiAgICAgICAgPGcgaWQ9Ikdyb3VwXzEiIGRhdGEtbmFtZT0iR3JvdXAgMSI+DQogICAgICAgICAgPHBhdGggaWQ9IlBhdGhfMiIgZGF0YS1uYW1lPSJQYXRoIDIiIGQ9Ik0zNi42LDEzNS4zVjEwOUw3My4xLDcyLjEsOTcuMiw5Ni40bDIuOC0yLjhMNzQuNSw2Ny44YTEuOTMzLDEuOTMzLDAsMCwwLTIuOCwwTDM2LjYsMTAzLjNWNTguNWE0LjY1Myw0LjY1MywwLDAsMSw0LjYtNC42aDk4LjZsNC00SDQxLjFhOC42NjQsOC42NjQsMCwwLDAtOC42LDguNnY3Ni44YTguNjY0LDguNjY0LDAsMCwwLDguNiw4LjZoOC42bDQtNEg0MS4xQTQuNTY3LDQuNTY3LDAsMCwxLDM2LjYsMTM1LjNaIiBmaWxsPSIjYTdiNGM3Ii8+DQogICAgICAgICAgPHBhdGggaWQ9IlBhdGhfMyIgZGF0YS1uYW1lPSJQYXRoIDMiIGQ9Ik0xNTgsNDkuOWgtMi44bC00LDRIMTU4YTQuNjUzLDQuNjUzLDAsMCwxLDQuNiw0LjZ2NTguN0wxMzQuMSw4OC40YTEuOTc0LDEuOTc0LDAsMCwwLTEuNC0uNmgwYTEuOTc0LDEuOTc0LDAsMCwwLTEuNC42TDExMywxMDYuN2wtNy4zLTcuNC0yLjgsMi44LDM3LjMsMzcuN2gtNzVsLTQsNEgxNThhOC42NjQsOC42NjQsMCwwLDAsOC42LTguNlY1OC41QTguNiw4LjYsMCwwLDAsMTU4LDQ5LjlabTQuNiw4NS40YTQuNjUzLDQuNjUzLDAsMCwxLTQuNiw0LjZIMTQ1LjhsLTMwLTMwLjMsMTYuOC0xNi45LDI5LjksMzAuMnYxMi40WiIgZmlsbD0iI2E3YjRjNyIvPg0KICAgICAgICA8L2c+DQogICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfMSIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMSIgd2lkdGg9IjE2Ni4yIiBoZWlnaHQ9IjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQwLjExNCAxNTYuNTU0KSByb3RhdGUoLTQ1KSIgZmlsbD0iI2E3YjRjNyIvPg0KICAgICAgPC9nPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      display: block;
      @include scale(1);
      @include transition-multiple(transform 0.3s ease-in-out);

      &:hover{
        @include scale(1.05);
      }
    }
  }

  &-newscat{
    margin: 80px 0;
    @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);
    @include border-radius(6px);

    @include BootstrapMaxWidthResponsive(1k){
      margin: 50px 0;
    }
    @include BootstrapMaxWidthResponsive(hd){
      margin: 40px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      margin: 30px 0;
      @include border-radius(3px);
      @include box-shadow(0 0 0 1px $global-border-light-gray-opacity);
    }
    @include BootstrapMaxWidthResponsive(lg){
      margin: 25px 0;
    }

    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &.newscatonlyone{
      margin: 0;

      @include BootstrapMaxWidthResponsive(lg){
        @include box-shadow(none);

        .research-newscat-head-textarea{
          padding: 0;
        }

        .research-newscat-head-textarea .sitetitle-xl{
          padding-bottom: 15px;
        }
      }
    }

    &-head{

      &-row{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);

        @include BootstrapMaxWidthResponsive(lg){
          display: block;
        }
      }

      &-textarea{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        min-width: 0;
        max-width: 100%;
        padding: 40px;

        @include BootstrapMaxWidthResponsive(1k){
          padding: 30px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          padding: 25px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          padding: 20px;
        }

        .sitetitle-xl{
          padding-bottom: 40px;

          @include BootstrapMaxWidthResponsive(1k){
            padding-bottom: 30px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            padding-bottom: 25px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            padding-bottom: 20px;
          }

          h2, h3{

            > a{
              background-color: $global-clr-white;
              margin-left: 0;
              @include transition-multiple(margin 0.3s ease-in-out);

              &::before{
                content: "";
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC44NDUiIGhlaWdodD0iMjguOTQ2IiB2aWV3Qm94PSIwIDAgMTguODQ1IDI4Ljk0NiI+DQogIDxwYXRoIGlkPSJQYXRoXzk0IiBkYXRhLW5hbWU9IlBhdGggOTQiIGQ9Ik0yOTMuMTM0LDkxLjQ5MmwtMTAtMTMuNTgxLDguOTc5LTEzLjU3NGExLDEsMCwwLDAsLjIzNC0uNmMwLS4yLS4xNTQtLjI5Mi0uNDY4LS4yOTJoLTcuMDQ2YTMuMzg4LDMuMzg4LDAsMCwwLS43ODUuMDc2LDEuMzcsMS4zNywwLDAsMC0uNjY2LjU0OGwtOC41NjIsMTMuMTU3YTEuMywxLjMsMCwwLDAtLjI3Ny42OTMsMS4xNjcsMS4xNjcsMCwwLDAsLjE0MS41NjhsOS41NjMsMTMuMDQ3YTIuMDI1LDIuMDI1LDAsMCwwLC41MDcuNjQyLDEuMTA4LDEuMTA4LDAsMCwwLC43MDYuMjE1aDcuNGMuNiwwLC42OS0uMy4yNzEtLjkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5My4zOTEgOTIuMzg4KSByb3RhdGUoMTgwKSIgZmlsbD0iIzBlYWYzNCIvPg0KPC9zdmc+DQo=);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 20px;
                height: 30px;
                position: absolute;
                left: 5px;
                top: calc(50% - 5px);
                @include translateY(-50%);
                z-index: -1;
                opacity: 0;
                @include transition-multiple(opacity 0.3s ease-in-out);

                @include BootstrapMaxWidthResponsive(1k){
                  width: 18px;
                  height: 26px;
                  top: calc(50% - 6px);
                }
                @include BootstrapMaxWidthResponsive(hd){
                  width: 14px;
                  height: 22px;
                }
                @include BootstrapMaxWidthResponsive(xl){
                  width: 12px;
                  height: 18px;
                  top: calc(50% - 4px);
                }
              }
            }

            &:hover > a{
              margin-left: 35px;

              @include BootstrapMaxWidthResponsive(1k){
                margin-left: 30px;
              }
              @include BootstrapMaxWidthResponsive(hd){
                margin-left: 28px;
              }
              @include BootstrapMaxWidthResponsive(xl){
                margin-left: 25px;
              }

              &::before{
                opacity: 1;
              }
            }
          }
        }

        .headnewstopimg{
          display: none;
          width: 100%;
          height: 250px;
          @include border-radius(6px);
          overflow: hidden;

          @include BootstrapMaxWidthResponsive(xl){
            @include border-radius(3px);
          }
          @include BootstrapMaxWidthResponsive(lg){
            display: block;
            margin-bottom: 15px;
          }
        }

        .sitecontent-desc{
          height: 200px;
          overflow: hidden;

          @include BootstrapMaxWidthResponsive(1k){
            height: 185px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            height: 170px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            height: 160px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            height: auto;
          }
        }

        .headnewsinfodate{
          @include BootstrapMaxWidthResponsive(hd){
            font-size: 15px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            font-size: 14px;
          }
        }

        .headnewsreadbtn{
          padding-top: 40px;

          @include BootstrapMaxWidthResponsive(1k){
            padding-top: 30px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            padding-top: 25px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            padding-top: 20px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            padding-top: 15px;
          }
        }
      }

      &-imgarea{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        min-width: 0;
        max-width: 100%;
        overflow: hidden;
        padding: 40px;

        @include BootstrapMaxWidthResponsive(1k){
          padding: 30px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          padding: 25px 25px 25px 0;
        }
        @include BootstrapMaxWidthResponsive(xl){
          padding: 20px 20px 20px 25px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          display: none;
        }

        .bignewstopimg{
          width: 100%;
          height: 100%;
          @include border-radius(6px);
          overflow: hidden;

          @include BootstrapMaxWidthResponsive(xl){
            @include border-radius(3px);
          }
        }

        .newsimgbg{
          @include border-radius(6px);

          @include BootstrapMaxWidthResponsive(xl){
            @include border-radius(3px);
          }
        }
      }
    }

    &-owlbox{

      @include BootstrapMaxWidthResponsive(hd){
        padding-top: 10px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding-top: 20px;
        border-top: 1px solid $global-border-light-gray-opacity;
      }

      &-row{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);
      }

      &-infoarea{
        background-color: $global-clr-green;
        @include flexbox-flex(0 0 auto);
        width: 300px;
        max-width: 100%;
        padding: 30px 30px 70px;
        margin: 0 30px 40px 40px;
        @include border-radius(6px);

        @include BootstrapMaxWidthResponsive(1k){
          width: 280px;
          padding: 25px 25px 70px;
          margin: 0 30px 30px 30px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          width: 260px;
          padding: 20px 20px 65px;
          margin: 0 25px 25px 25px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 230px;
          margin: 0 20px 20px 20px;
          @include border-radius(3px);
        }
        @include BootstrapMaxWidthResponsive(lg){
          width: 215px;
        }
      }

      &-listarea{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        min-width: 0;
        max-width: 100%;
        padding-bottom: 30px;
        margin: 0 40px 40px 0;

        @include BootstrapMaxWidthResponsive(1k){
          margin: 0 30px 30px 0;
          padding-bottom: 20px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          margin: 0 25px 25px 0;
        }
        @include BootstrapMaxWidthResponsive(xl){
          margin: 0 20px 20px 0;
        }

        .listnewstopimg{
          width: 100%;
          height: 130px;
          margin-bottom: 10px;
          @include border-radius(6px);
          overflow: hidden;

          @include BootstrapMaxWidthResponsive(1k){
            height: 125px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            height: 130px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            height: 120px;
            margin-bottom: 5px;
            @include border-radius(3px);
          }
        }

        .sitecontent-desc{
          overflow: hidden;
          height: 110px;

          @include BootstrapMaxWidthResponsive(1k){
            height: 120px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            height: 90px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            height: 90px;
          }

          h1,h2,h3,h4,h5,h6{
            font-size: 16px;
            font-weight: 700;

            @include BootstrapMaxWidthResponsive(1k){
              font-size: 16px;
            }
            @include BootstrapMaxWidthResponsive(hd){
              font-size: 15px;
            }
            @include BootstrapMaxWidthResponsive(xl){
              font-size: 14px;
            }
          }
        }

        .listnewsinfodate{
          font-size: 12px;
        }

        .listnewsreadbtn{
          padding-top: 5px;
        }

        .owl{

          &-nav{
            width: auto;
            height: 30px;
            margin: 0;
            padding: 0;
            position: absolute;
            left: -100px;
            bottom: 0;

            @include BootstrapMaxWidthResponsive(hd){
              left: -80px;
            }

            &.disabled{
              display: block;
            }

            button[class*='owl-']{
              width: 25px;
              height: 30px;
              background-color: transparent;
              margin: 0;
              opacity: 1;

              @include BootstrapMaxWidthResponsive(hd){
                width: 20px;
              }

              &::before{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC44NDUiIGhlaWdodD0iMjguOTQ2IiB2aWV3Qm94PSIwIDAgMTguODQ1IDI4Ljk0NiI+DQogIDxwYXRoIGlkPSJQYXRoXzk0IiBkYXRhLW5hbWU9IlBhdGggOTQiIGQ9Ik0yOTMuMTM0LDkxLjQ5MmwtMTAtMTMuNTgxLDguOTc5LTEzLjU3NGExLDEsMCwwLDAsLjIzNC0uNmMwLS4yLS4xNTQtLjI5Mi0uNDY4LS4yOTJoLTcuMDQ2YTMuMzg4LDMuMzg4LDAsMCwwLS43ODUuMDc2LDEuMzcsMS4zNywwLDAsMC0uNjY2LjU0OGwtOC41NjIsMTMuMTU3YTEuMywxLjMsMCwwLDAtLjI3Ny42OTMsMS4xNjcsMS4xNjcsMCwwLDAsLjE0MS41NjhsOS41NjMsMTMuMDQ3YTIuMDI1LDIuMDI1LDAsMCwwLC41MDcuNjQyLDEuMTA4LDEuMTA4LDAsMCwwLC43MDYuMjE1aDcuNGMuNiwwLC42OS0uMy4yNzEtLjkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5My4zOTEgOTIuMzg4KSByb3RhdGUoMTgwKSIgZmlsbD0iIzBlYWYzNCIvPg0KPC9zdmc+DQo=");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 15px;
                height: 25px;
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
                @include svg-filter(0%, 1, 0, 100%);

                @include BootstrapMaxWidthResponsive(hd){
                  width: 9px;
                  height: 16px;
                }
              }

              span[aria-label]{display: none;}

              &:hover{
                background-color: transparent;
              }
            }

            button.owl-next{
              @include rotate(0);
            }
            button.owl-prev{
              @include rotate(180);
            }
          }
        }
      }
    }
  }

  &-listbox{
    padding-top: 30px;

    @include BootstrapMaxWidthResponsive(xl){
      padding-top: 20px;
    }

    &-row{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);

      @include BootstrapMaxWidthResponsive(lg){
        display: block;
      }
    }

    &-infoarea{
      background-color: $global-border-light-gray-opacity;
      @include flexbox-flex(0 0 auto);
      width: 300px;
      max-width: 100%;
      padding: 30px 30px 70px;
      @include border-radius(6px);

      @include BootstrapMaxWidthResponsive(1k){
        width: 280px;
        padding: 25px 25px 70px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        width: 260px;
        padding: 20px 20px 65px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        width: 230px;
        @include border-radius(3px);
      }
      @include BootstrapMaxWidthResponsive(lg){
        width: 100%;
        background-color: transparent;
        padding: 20px 0 15px;

        .sitetitle-sm{
          p{display: none;}
        }
      }
    }

    &-listarea{
      @include flexbox-flex-basis(0);
      @include flexbox-flex-grow(1);
      min-width: 0;
      max-width: 100%;
      padding-left: 30px;

      @include BootstrapMaxWidthResponsive(xl){
        padding-left: 20px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-left: 0;
      }

      &-ul{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);
        margin-left: -15px;
        margin-right: -15px;

        @include BootstrapMaxWidthResponsive(xl){
          margin-left: -10px;
          margin-right: -10px;
        }

        li{
          @include flexbox-flex(0 0 calc(100%/3));
          max-width: calc(100%/3);
          padding: 0 15px 30px;

          @include BootstrapMaxWidthResponsive(xl){
            padding: 0 10px 20px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            @include flexbox-flex(0 0 calc(100%/2));
            max-width: calc(100%/2);
          }
        }
      }

      &-cont{
        border-bottom: 2px solid $global-border-light-gray-opacity;
        padding-bottom: 20px;
        @include transition-multiple(border 0.3s ease-in-out);

        @include BootstrapMaxWidthResponsive(xl){
          border-bottom-width: 1px;
          padding-bottom: 15px;
        }

        &:hover{
          border-color: $global-border-light-gray-focus;

          .newsimgbg{
            @include scale(1.05);
          }
        }
      }

      .listnewstopimg{
        width: 100%;
        height: 180px;
        @include border-radius(6px);
        margin-bottom: 10px;
        overflow: hidden;

        @include BootstrapMaxWidthResponsive(1k){
          height: 160px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          height: 150px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          height: 130px;
          margin-bottom: 5px;
          @include border-radius(3px);
        }
      }

      .sitecontent-desc{
        overflow: hidden;
        height: 85px;

        @include BootstrapMaxWidthResponsive(lg){
          height: 60px;
        }

        h1,h2,h3,h4,h5,h6{
          font-size: 16px;
          font-weight: 700;

          @include BootstrapMaxWidthResponsive(1k){
            font-size: 16px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            font-size: 15px;
          }
          @include BootstrapMaxWidthResponsive(xl){
            font-size: 14px;
          }
        }
      }

      .listnewsinfodate{
        font-size: 12px;
      }

      .listnewsreadbtn{
        padding-top: 5px;
      }
    }
  }
}