

.Firefox{

  .sitetitle{
    &-xl,
    &-md{
      h1,h2,h3{font-weight: 500 !important;}
    }
  }

  .sitecontent{
    &-desc{
      h1,h2,h3,h4{font-weight: 500 !important;}
    }
  }

  .headtitle{
    .headcontent{
      &-title{
        h2{
          font-weight: 500 !important;
        }
      }
    }
  }

  .component{

    &-siteaccounttypes{
      .accounttypestable{
        thead{
          tr{
            th{
              &.firsttitle{
                .accounttypes-title{
                  font-weight: 500 !important;
                }
              }
            }
          }
        }
      }
    }

    &-newsbox{
      .bignewsbox{
        &-content{
          h3{
            font-weight: 500 !important;
          }
        }
      }
      .smallnewsbox{
        .listnews{

          &-title{
            h4{
              font-weight: 500 !important;
            }
          }

          &-info{
            &-more{
              font-weight: 500 !important;
            }
          }
        }
      }
    }

    &-platforms{
      .nav{
        &-head{
          font-weight: 500 !important;
        }
      }
    }

  }

  .platappdownbtns{
    .btn{
      &-platdown{
        p{
          strong{
            font-weight: 500 !important;
          }
        }
      }
    }
  }

  .sectionfeaturebox{
    &-icons{
      font-weight: 500 !important;
    }

    &-title{
      h3{
        font-weight: 500 !important;
      }
    }
  }

}