a.kt-header__brand-logo{
    width: 43px;
    overflow: hidden;
}
a.kt-header__brand-logo img{
    height: 26px;
}

img.table-img{
    height: 60px;
}

img.campaign-form-preview{
    width: 50%;
}

.summary_area{
    width: 100%;
    height: 130px;
}
