.sitecontent{

  &-borderbox{
    border: 1px solid $global-border-light-gray;
    @include border-radius(4px);
  }

  &-desc{
    color: $global-clr-text-light;

    h1,h2,h3,h4,h5,h6{color: $global-clr-text-dark; text-transform: uppercase;}
    h1,h2,h3,h4{font-weight: 700;}
    h1{font-size: 36px; line-height: 1.2;}
    h2{font-size: 32px; line-height: 1.2;}
    h3{font-size: 28px; line-height: 1.2;}
    h4{font-size: 24px; line-height: 1.2;}
    h5{font-size: 20px; line-height: 1.2;}
    h6{font-size: 18px; line-height: 1.2;}
    h1+p,h2+p,h3+p,h1+ul,h2+ul,h3+ul{margin-top: 10px;} h4+p,h5+p,h6+p,h4+ul,h5+ul,h6+ul{margin-top: 5px;}
    p+h1,p+h2,p+h3,p+h4,ul+h1,ul+h2,ul+h3,ul+h4{margin-top: 30px;} p+h5,p+h6,ul+h5,ul+h6{margin-top: 15px;}

    p+p,p+ul,p+ol,ul+p,ol+p{margin-top: 10px;}
    p, ul, ol{font-size: 18px; font-weight: normal; line-height: 1.4;}
    ul > li, ol > li{/*margin-bottom: 15px;*/}
    ul > li:last-child, ol > li:last-child{margin-bottom: 0;}
    strong,b{font-weight: 500;}
    p a, li a{color: $global-clr-green; font-weight: 500;}

    @include BootstrapMaxWidthResponsive(1k){
      h1{font-size: 32px;}
      h2{font-size: 28px;}
      h3{font-size: 26px;}
      h4{font-size: 20px;}
      h5{font-size: 19px;}
      p, ul, ol{font-size: 16px;}
      p+h1,p+h2,p+h3,p+h4,ul+h1,ul+h2,ul+h3,ul+h4{margin-top: 30px;} p+h5,p+h6,ul+h5,ul+h6{margin-top: 15px;}
    }
    @include BootstrapMaxWidthResponsive(hd){
      h1{font-size: 30px;}
      h3{font-size: 24px;}
      h5{font-size: 18px;}
      p, ul, ol{font-size: 15px;}
      p+h1,p+h2,p+h3,p+h4,ul+h1,ul+h2,ul+h3,ul+h4{margin-top: 20px;} p+h5,p+h6,ul+h5,ul+h6{margin-top: 10px;}
    }
    @include BootstrapMaxWidthResponsive(xl){
      h1{font-size: 26px;}
      h3{font-size: 22px;}
      h1+p,h2+p,h3+p,h1+ul,h2+ul,h3+ul{margin-top: 5px;} h4+p,h5+p,h6+p,h4+ul,h5+ul,h6+ul{margin-top: 3px;}
    }
    @include BootstrapMaxWidthResponsive(lg){
      h1{font-size: 24px;}
      h3{font-size: 20px;}
      h4{font-size: 18px;}
      h1+p,h2+p,h3+p,h1+ul,h2+ul,h3+ul{margin-top: 0;} h4+p,h5+p,h6+p,h4+ul,h5+ul,h6+ul{margin-top: 3px;}
      p+h1,p+h2,p+h3,p+h4,ul+h1,ul+h2,ul+h3,ul+h4{margin-top: 15px;} p+h5,p+h6,ul+h5,ul+h6{margin-top: 10px;}
      p+p,p+ul,p+ol,ul+p,ol+p{margin-top: 10px;}
      p, ul, ol{line-height: 1.2;}
    }


    ul.ullist{

      li{
        position: relative;
        padding-left: 15px;

        &::before{
          content: "";
          position: absolute;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          left: 0;
        }
      }

      p{
        padding-left: 15px;
      }

      &-dotted{
        li{
          &::before{
            width: 8px;
            height: 8px;
            background-color: $global-clr-green;
            top: 8px;
            left: 0;
            @include border-radius(50%);

            @include BootstrapMaxWidthResponsive(1k){
              top: 6px;
            }
            @include BootstrapMaxWidthResponsive(lg){
              top: 5px;
            }
          }
        }
      }
    }
  }



  ol.matterlist01{
    list-style: none;
    counter-reset: item;
    margin-left: 0;

    &-head{
      > li{
        margin-bottom: 20px !important;

        @include BootstrapMaxWidthResponsive(1k){
          margin-bottom: 15px !important;
        }
        @include BootstrapMaxWidthResponsive(lg){
          margin-bottom: 10px !important;
        }
      }
    }

    > li{
      padding-left: 20px;
      position: relative;
      margin-bottom: 10px;

      @include BootstrapMaxWidthResponsive(lg){
        padding-left: 20px;
      }

      &::before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        font-weight: 500;
        width: 20px;
        display: inline-block;
        position: absolute;
        left: 0;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -.6px;
      }
    }

    ol.nomatter{
      margin-left: 0;
      margin-top: 5px;

      li.nomatter{
        padding-left: 0 !important;

        &::before {
          visibility: hidden;
          position: absolute;
          left: 0;
          display: inline-block;
        }
      }
    }
  }

}