.sitetable{
  color: $global-clr-text-light;
  margin: 0;

  thead tr th, tbody tr td{
    vertical-align: middle;
    line-height: 1;
  }

  thead{
    tr{
      th{
        font-size: 18px;
        font-weight: 500;
        border-top-width: 1px;
        border-bottom-width: 1px;
        padding-top: 10px;
        padding-bottom: 10px;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 16px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 15px;
        }
      }
    }
  }

  tbody{
    tr{

      &:last-child{
        td{
          border-bottom: 1px solid transparent;
        }
      }

      td{
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: unset;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 16px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 15px;
        }
      }
    }
  }

  &.theadsoftdark{
    thead{
      tr{
        th{
          background-color: transparentize($global-border-light-gray, 0.50);
        }
      }
    }
  }

  &.tbodyodd{
    tbody{
      tr{
        &:nth-child(even){
          background-color: transparentize($global-border-light-gray, 0.75);
        }
        td{}
      }
    }
  }

  &.smalltable{
    thead{
      tr{
        th{
          font-size: 14px;
          padding-top: 9px;
          padding-bottom: 9px;
        }
      }
    }
    tbody{
      tr{
        td{
          font-size: 12px;
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }
    }
  }

  &.linetable{
    thead tr th{
      padding-top: 18px;
      padding-bottom: 18px;

      @include BootstrapMaxWidthResponsive(hd){
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    tbody tr td{
      padding-top: 12px;
      padding-bottom: 12px;

      @include BootstrapMaxWidthResponsive(1k){
        padding-top: 10px;
        padding-bottom: 10px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

  &.hovergreentable{

    thead tr th,
    tbody tr td{
      padding-left: 0;
      padding-right: 0;
    }

    thead tr th{
      border-bottom: none;
    }

    tbody tr{

      &:first-child td{
        border-top: 1px solid $global-border-light-gray;
      }
      &:hover{
        td{
          border-bottom: 1px solid;
          border-color: $global-clr-green;
        }
      }
    }
  }

  &.fixedtable{table-layout: fixed;}

  .centercell{text-align: center;}
}