/* Header Web Menu */
.dfn{
  $dfnnavclassname: &;

  &-nav{
    background-color: transparent;
  }

  &-menu{
    color:#FFFFFF;
    font-size: 18px;
    line-height: 1;
    padding:0;

    @include BootstrapMaxWidthResponsive(1k){
      font-size: 17px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      font-size: 16px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      font-size: 15px;
    }

    &.activenavbar{}

    &-list{
      min-height: 38px;
      margin: 0;
      @include flexbox-display-flex();

      @include BootstrapMaxWidthResponsive(hd){
        min-height: auto;
      }
      @include BootstrapMaxWidthResponsive(lg){
        width: 100%;
        @include flexbox-flex-direction(column);
      }

      &-item{

        @include BootstrapMaxWidthResponsive(lg){
          border-bottom: 1px solid transparentize($global-clr-white, 0.9);
        }

        > a{
          color:#FFFFFF;
          display: block;
          padding: 10px 15px;
          margin: 0;
          position:relative;
          height: 100%;
          white-space: nowrap;
          z-index: 1;
          cursor: pointer;
          @include transition-multiple(color 0.3s ease-in-out, padding 0.3s ease-in-out);

          @include BootstrapMaxWidthResponsive(hd){
            padding: 10px 10px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            padding: 10px 15px;
            font-size: 14px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            font-size: 15px;
            font-weight: 500;
            margin: 0;
            padding: 12px 15px 10px;
          }

          &[data-toggle="dropdown"]{
            &::before{
              @include BootstrapMinWidthResponsive(lg){
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 3px;
                position: relative;
                @include transition-multiple(transform 0.3s ease-in-out, filter 0.3s ease-in-out);
                display: none !important;
              }
              @include BootstrapMaxWidthResponsive(lg){
                border-right-color: $global-clr-green !important;
                border-top-color: $global-clr-green !important;
              }
            }
          }

          &[aria-expanded="true"]{
            color: $global-clr-green;

            &::before{
              @include BootstrapMinWidthResponsive(lg){
                @include rotate(90);
                @include svg-filter(0%, 1, 0, 100%);
              }
              @include BootstrapMaxWidthResponsive(lg){
                border-right-color: $global-clr-green !important;
                border-top-color: $global-clr-green !important;
              }
            }
          }
        }

        .dropdown-menu{
          background-color: transparentize($global-clr-dark-black, 0.05) !important;
          transform: none !important;
          position: fixed !important;
          z-index: -1 !important;
          top: 0 !important;
          padding: 0;
          padding-top: 115px;
          margin: 0;
          border: none;
          width: 100%;
          @include animation-duration(0.75s);
          @include transition-multiple(top 0.3s ease-in-out);
          @include backdrop-filter-multiple(blur(5px));

          @include BootstrapMaxWidthResponsive(1k){
            padding-top: 110px;
          }
          @include BootstrapMaxWidthResponsive(hd){
            padding-top: 95px;
          }
          @include BootstrapMaxWidthResponsive(lg){
            background-color: transparentize($global-clr-dark-black, 0.75) !important;
            padding-top: 0;
          }

          a{
            color: lighten($global-clr-text-light, 30%);
            @include transition-multiple(color 0.15s ease-in-out);

            &:hover{
              color: $global-clr-white;
            }
          }

          &.show{}

          .menunav{
            font-size: 16px;
            line-height: 1.8;

            @include BootstrapMaxWidthResponsive(1k){
              font-size: 15px;
              line-height: 1.6;
            }
            @include BootstrapMaxWidthResponsive(xl){
              font-size: 14px;
            }

            ul{
              li{
                position: relative;
                padding-left: 0;

                @include BootstrapMaxWidthResponsive(lg){
                  padding: 3px 0;

                  &:first-child{padding-top: 0;}
                  &:last-child{padding-bottom: 0;}
                }

                &:hover::after{
                  border-color: $global-clr-white;
                }

                &::before {
                  visibility: hidden;
                  position: absolute;
                  left: 0;
                  display: inline-block;
                }

                &::after{
                  content:"";
                  position:absolute;
                  width: 8px;
                  height: 8px;
                  top: 10px;
                  left: 0;
                  border-top:2px solid $global-clr-green;
                  border-right:2px solid $global-clr-green;
                  @include rotate(45);
                  @include transition-multiple(border 0.15s ease-in-out);
                  display: none;
                }
              }
            }
          }

          .megamenu{
            @include flexbox-display-flex();
            @include flexbox-flex-wrap(wrap);
            @include flexbox-align-items(center);
            //min-height: 200px;

            &-nav{
              @include flexbox-flex(0 0 auto);
              width: auto;
              max-width: 100%;
              padding: 10px 0 60px;

              @include BootstrapMaxWidthResponsive(1k){
                padding-bottom: 30px;
              }
              @include BootstrapMaxWidthResponsive(hd){
                padding-bottom: 20px;
              }
              @include BootstrapMaxWidthResponsive(lg){
                padding: 10px 15px;
              }
            }
          }

          .megamultimenu{
            @include flexbox-display-flex();
            @include flexbox-flex-wrap(wrap);
            @include flexbox-align-items(center);

            &-row{
              @include flexbox-display-flex();
              @include flexbox-flex-wrap(wrap);
              margin-left: auto;
            }

            &-col{
              @include flexbox-flex(0 0 auto);
              width: auto;
              max-width: 100%;
              min-width: 200px;
              padding-right: 75px;

              @include BootstrapMaxWidthResponsive(hd){
                padding-right: 60px;
              }
              @include BootstrapMaxWidthResponsive(xl){
                padding-right: 40px;
              }

              &:last-child{
                padding-right: 0;
              }
            }

            &-desc{
              &-title{
                color: $global-clr-white;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.6;
                text-align: left;

                @include BootstrapMaxWidthResponsive(1k){
                  font-size: 15px;
                }
                @include BootstrapMaxWidthResponsive(xl){
                  font-size: 15px;
                }
              }
            }

            &-nav{}
          }

        }
      }
    }
  }

  &-headnav{
    #{$dfnnavclassname}-menu{
      &-list{
        &-item{}
      }
    }
  }

  &-footnav{
    #{$dfnnavclassname}-menu{
      &-list{
        &-item{}
      }
    }
  }

  /* Header Mobile Menu */
  @include BootstrapMaxWidthResponsive(lg){

    &-menu{

      &-list{
        > li{
          a{
            height: auto;
          }

          > a{
            position: relative;

            &[data-toggle^="dropdown"]{
              &::before{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                right: 15px;
                top: calc(50% - 5px);
                border-right: 2px solid #FFFFFF;
                border-top: 2px solid #FFFFFF;
                z-index: 5;
                @include rotate(135);
                @include transition(transform, 0.3s, ease-in-out);
              }
            }
            &[aria-expanded^="true"]{
              &::before{
                @include rotate(-45);
              }
            }
          }

          .dropdown-menu{
            position: relative !important;
            top: 0 !important;
            z-index: 1 !important;

            .megamenu{
              padding: 0 !important;
              max-width: none !important;
              display: block !important;
              min-height: inherit;

              &-desc{
                display: none !important;
              }
            }

            .megamultimenu{
              @include flexbox-align-items(flex-start);

              &-row{
                @include flexbox-flex-direction(column);
              }
              &-col{
                min-width: inherit;
                padding: 0;
                margin-top: 10px;
                &:first-child{
                  margin-top: 0;
                }
              }
              &-desc{
                margin-bottom: 2px;
                &-title{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

  }
  /* Header Mobil Menu */

}