
.component{

  &-sitefeatureicons{
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    text-align: center;

    .owl {
      &-stage {
        &-outer {
          @include BootstrapMinWidthResponsive(lg){
            overflow: visible !important;
          }
        }
      }
    }

    li{
      padding: 15px;

      &:hover{
        .boxcontent-title::before{
          border-top-color: $global-clr-red;
        }
      }
    }

    i[class*="icons"]{
      display: block;
      margin: auto;
    }

    .boxcontent{
      &-title{
        font-family: $global-font-family-default !important;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 35px;
        position: relative;

        &::before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 10px solid $global-clr-soft-black;
          @include border-radius(3px);
          top: 8px;
          left: 50%;
          @include translateX(-50%);
          @include transition-multiple(border-color 0.3s ease-in-out);
        }

        &.darkbg::before{
          border-top-color: $global-clr-white;
        }

        span{display: block;}
      }
    }
  }

  &-sitefeatureboxs{
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    text-align: center;

    .owl {
      &-stage {
        &-outer {
          @include BootstrapMinWidthResponsive(lg){
            overflow: visible !important;
          }
        }
      }
    }

    li{
      background-color: $global-clr-white;
      padding: 5px 45px 45px;
      @include border-radius(4px);
      @include box-shadow(0 0 20px transparentize($global-clr-dark-black, 0.90));
      @include transition-multiple(box-shadow 0.3s ease-in-out);

      &:hover{
        @include box-shadow(0 0 30px transparentize($global-clr-dark-black, 0.80));

        .boxicons{
          i[class*="icons-out"]{
            transform: rotate(30deg) scale(1.15);
          }
        }
      }
    }

    .boxicons{
      position: relative;
      width: 200px;
      height: 200px;
      margin: auto;

      i[class*="icons"]{
        position: absolute;
        top: 0;
        display: block;
        @include transition-multiple(transform 0.5s ease-in-out);
      }
      i[class*="icons-in"]{
        z-index: 1;
      }
    }

    .boxcontent{
      margin-bottom: 15px;

      &-title{
        font-size: 25px;
        font-weight: 600;
        line-height: 1.2;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &::before{
          content: "";
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: $global-clr-soft-black;
          bottom: 0;
          left: 50%;
          @include translateX(-50%);
        }
      }

      &-desc{
        font-size: 18px;
        font-weight: normal;
        line-height: 1.22;
      }

      &-more{
        color: $global-clr-red;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .featuresbox{
      &starters{
        .boxcontent-more{
          color: $global-clr-green;
          svg{
            line,
            path{stroke: $global-clr-green !important;}
          }
        }
      }
      &trader{
        .boxcontent-more{
          color: $global-clr-soft-purple;
          svg{
            line,
            path{stroke: $global-clr-soft-purple !important;}
          }
        }
      }
      &follow{
        .boxcontent-more{
          color: $global-clr-red;
          svg{
            line,
            path{stroke: $global-clr-red !important;}
          }
        }
      }
    }
  }

  &-summarytable{
    .summarytable{

      &-tabnav{
        background-color: $global-clr-white;
      }

      &-tabcontent{
        background-color: $global-clr-white;
      }

      &-tablearea{}

      &-table{

        thead{
          tr{
            th{
              border-top-width: 0;
            }
          }
        }

        .btncell{
          width: 120px;

          .btn{
            display: block;
          }
        }

        tbody{
          tr{

            &:hover{
              .btn-light{
                color: $global-clr-white;
                background-color: $global-clr-green;
                border-color: $global-clr-green;
              }
            }

            td{
              &:first-child{
                font-weight: 500;
              }
            }
          }
        }

        tbody tr{

        }

        .btn-light{
          background-color: $global-clr-white;
          border-color: $global-border-light-gray;
          @include transition-multiple(background-color 0.15s ease-in-out);

          &:hover{
            color: $global-clr-white;
            background-color: $global-clr-green;
            border-color: $global-clr-green;
          }
        }
      }
    }
  }

  &-siteaccounttypes{
    @include flexbox-display-flex();
    @include flexbox-flex-wrap(wrap);
    margin-left: -40px;
    margin-right: -40px;

    li{
      @include flexbox-flex-basis(0);
      @include flexbox-flex-grow(1);
      min-width: 0;
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;
    }

    .boxcontent{
      color: $global-clr-text-light;
      background-color: $global-clr-white;

      &-head{
        @include flexbox-display-flex();
        @include flexbox-justify-content(space-between);

        &-icons{
          @include flexbox-display-flex();
        }

        &-iconstexttypes{
          color: $global-clr-dark-black;
          font-family: $global-font-family-cocogothic-heavy !important;
          height: 32px;
          font-size: 42px;
          font-style: normal;
          line-height: 1;
          display: block;
        }

        &-title{
          font-size: 20px;
          font-weight: normal;
          line-height: 1;
          padding: 0;
          margin: 0;
          position: relative;
        }

        &-pulse{
          background-color: transparent;
          height: 10px;
          width: 10px;
          margin: 0 5px;
          @include border-radius(50%);
          @include box-shadow(0 0 0 0 transparentize(transparent, 0.0));
          @include scale(1);

          &.pulsegreen{
            background-color: $global-clr-green;
            @include box-shadow(0 0 0 0 $global-clr-green);
            @include animation-multi(accountsTypesPulseGreen 2s infinite);

            @include keyframes(accountsTypesPulseGreen){
              0%   {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-green, 0.3));}
              70%  {@include scale(1); @include box-shadow(0 0 0 10px transparentize($global-clr-green, 1.0));}
              100% {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-green, 1.0));}
            }
          }

          &.pulseblue{
            background-color: $global-clr-soft-blue;
            @include box-shadow(0 0 0 0 $global-clr-soft-blue);
            @include animation-multi(accountsTypesPulseBlue 2s infinite);

            @include keyframes(accountsTypesPulseBlue){
              0%   {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-soft-blue, 0.3));}
              70%  {@include scale(1); @include box-shadow(0 0 0 10px transparentize($global-clr-soft-blue, 1.0));}
              100% {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-soft-blue, 1.0));}
            }
          }

          &.pulseorange{
            background-color: $global-clr-orange;
            @include box-shadow(0 0 0 0 $global-clr-orange);
            @include animation-multi(accountsTypesPulseOrange 2s infinite);

            @include keyframes(accountsTypesPulseOrange){
              0%   {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-orange, 0.3));}
              70%  {@include scale(1); @include box-shadow(0 0 0 10px transparentize($global-clr-orange, 1.0));}
              100% {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-orange, 1.0));}
            }
          }

          &.pulsered{
            background-color: $global-clr-red;
            @include box-shadow(0 0 0 0 $global-clr-red);
            @include animation-multi(accountsTypesPulseRed 2s infinite);

            @include keyframes(accountsTypesPulseRed){
              0%   {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-red, 0.3));}
              70%  {@include scale(1); @include box-shadow(0 0 0 10px transparentize($global-clr-red, 1.0));}
              100% {@include scale(0.95); @include box-shadow(0 0 0 0 transparentize($global-clr-red, 1.0));}
            }
          }
        }
      }

      &-list{
        font-size: 18px;
        line-height: 1.2;
        text-align: left;
        margin-top: 25px;
        min-height: 320px;

        li{
          position: relative;
          padding-left: 15px;
          margin: 10px 0;

          &:first-child{margin-top: 0;}
          &:last-child{margin-bottom: 0;}

          &::before{
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: $global-clr-green;
            top: 5px;
            left: 0;
            @include border-radius(50%);
          }
        }
      }

      &-desc{
        font-size: 16px;
        line-height: 1.25;
      }
    }
  }

  &-newsbox{

    .bignewsbox{
      width: 100%;
      max-width: 640px;

      &-videos{
        .pretty-embed img{
          @include border-radius(3px);
        }
        .pretty-embed iframe{
          @include border-radius(3px);
        }
      }

      &-content{
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.3;
        height: 200px;
        overflow: hidden;

        h3{
          color: $global-clr-text-dark;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 10px;
        }

        p{
          color: $global-clr-text-light;
        }

        .btn{
          margin-top: 20px;
        }
      }
    }

    .smallnewsbox{

      .listnews{

        &.owl-carousel{
          .owl-dots{
            margin-top: 15px;

            .owl-dot{
              padding: 4px !important;
              background-color: $global-clr-white !important;
              border: 2px solid $global-border-light-gray;
              @include border-radius(25px);
              margin: 2px !important;
              @include transition-multiple(background-color 0.3s ease-in-out, border 0.3s ease-in-out !important);

              span{
                background-color: darken($global-border-light-gray, 20%) !important;
                width: 10px !important;
                height: 10px !important;
                margin: 0 !important;
                @include transition-multiple(background-color 0.3s ease-in-out !important);
              }

              &.active{
                border-color: transparentize($global-clr-green, 0.55);

                span{
                  background-color: $global-clr-green !important;
                  //width: 20px !important;
                }
              }
            }
          }
        }

        li{}

        &-title{
          height: 300px;
          line-height: 1.3;
          overflow: hidden;

          h4{
            color: $global-clr-text-dark;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 10px;
          }

          p{
            color: $global-clr-text-light;
            font-size: 18px;
          }

        }

        &-info{
          @include flexbox-display-flex();
          @include flexbox-justify-content(space-between);
          margin-top: 5px;
          padding-bottom: 15px;

          &-date{
            color: $global-clr-green;
          }

          &-more{
            font-weight: 700;

            svg{
              line,
              path{stroke: $global-clr-green !important;}
            }
          }
        }
      }
    }
  }

  &-platforms{
    position: relative;

    &::before,
    &::after{
      content: "";
      background-color: $global-clr-white;
      width: 5000px;
      height: 100%;
      @include border-radius(4px);
      @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);
      position: absolute;
      top: 0;
    }

    &::before{
      left: -5045px;
    }

    &::after{
      right: -5045px;
    }

    .nav{

      &-head{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      &-mt{
        @include flexbox-justify-content(space-between);
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 60px 0;

        &-sub{
          @include flexbox-flex-direction(column);
        }
      }

      &-mt4{
        @include BootstrapMinWidthResponsive(xl){
          text-align: left;
          order: 1;
        }
      }

      &-mt5{
        @include BootstrapMinWidthResponsive(xl){
          text-align: right;
          order: 2;
        }
      }

      &-mt4,
      &-mt5{
        width: 300px;
        position: relative;
      }

    }

    .tab{

      &-content{
        text-align: center;
      }

      &-mt{
        background-color: $global-clr-white;
        min-height: 350px;
        margin: 0 335px;
        padding: 60px 50px 30px;
        @include box-shadow(0 0 0 2px $global-border-light-gray-opacity);
        @include border-radius(4px);
        position: relative;
        z-index: 1;

        &-content{}

        &-head{}

        &-btns{
          @include flexbox-display-flex();
          @include flexbox-justify-content(center);
          margin-top: 30px;

          .btn{
            margin: 0 5px;

            &-platdown{
              @include flexbox-display-flex();
              @include flexbox-align-items(center);
              height: auto;
              padding: 8px 10px;
              border: 1px solid $global-clr-green;
              @include transition-multiple(none);

              i.platdownicon{
                width: 34px;
                height: 34px;

                svg{
                  fill: $global-clr-text-dark;
                }
              }

              p{
                line-height: 1.2;
                text-align: left;
                padding: 0 5px;

                small, strong{
                  display: block;
                }

                small{
                  color: $global-clr-green;
                  font-size: 11px;
                  font-weight: 500;
                }

                strong{
                  font-size: 16px;
                }

              }

              &:hover{
                background-color: $global-clr-green;
                border-color: $global-clr-green;

                i.platdownicon{
                  svg{
                    fill: $global-clr-white;
                  }
                }

                p{
                  small, strong{
                    color: $global-clr-white;
                  }
                }
              }

            }
          }
        }

        .startaccountbtns{
          margin-top: 30px;
          border-top: 2px solid $global-border-light-gray-opacity;
          padding-top: 30px;

          .btn{
            color: $global-clr-white;
            display: block;
            height: auto;
            font-size: 18px;
            text-align: left;
            padding: 10px 15px;
            position: relative;
            border: none;
            @include border-radius(2px);

            span, small{
              display: block;
              line-height: 1.25;
            }

            span{
              font-family: $global-font-family-cocogothic-heavy !important;
              font-size: 22px;
              font-weight: 500;
              position: relative;
              top: 4px;
            }

            small{
              font-weight: 300;
            }

            .rightarrow{
              position: absolute;
              right: 15px;
              top: calc(50% - 1px);
              @include translateY(-50%);

              svg{
                fill: $global-clr-white;
                height: 16px;
                opacity: 0.75;
                @include transition-multiple(opacity 0.15s ease-in-out);
              }
            }

            &:hover{
              .rightarrow svg{
                opacity: 1;
              }
            }
          }

          .startaccountinfolinks{
            color: $global-clr-text-dark;
            font-size: 16px;
            margin-top: 10px;
          }
        }
      }

      &-btmimg{
        text-align: center;
        padding-top: 30px;

        img{
          display: block;
          margin: auto;
        }
      }

    }

  }
}