
.footer{
  color: #7f8690;
  background-color: $global-clr-dark-black;

  &-top{
    background-color: $global-clr-green;

    .row{
      @include flexbox-align-items(center);
      padding: 23px 0;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 15px 0;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 13px 0;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 8px 0;
      }
    }

    &-logo{
      img{
        @include BootstrapMaxWidthResponsive(1k){
          width: 160px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          width: 140px;
          position: relative;
          top: -1px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 130px;
        }
      }
    }

    &-social{
      .sociallist{
        @include flexbox-display-flex();

        li{
          width: 34px;
          height: 34px;
          margin-right: 5px;
          border: 2px solid $global-clr-white;
          @include border-radius(50%);

          @include BootstrapMaxWidthResponsive(hd){
            margin-right: 2px;
            @include scale(0.9);
          }
          @include BootstrapMaxWidthResponsive(xl){
            margin-right: -2px;
            @include scale(0.8);
          }

          &:last-child{margin-right: 0;}

          .socialicon{
            width: 24px;
            height: 24px;
            background-image: url(#{$global-img-path-icons}/icons_spite_24_footer_social.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            display: block;
            position: relative;
            margin: 3px;
            @include svg-filter(0%, 1, 0, 100%);

            &.facebook{background-position: 0 0;}
            &.twitter{background-position: -24px 0;}
            &.linkedin{background-position: -48px 0;}
            &.instagram{background-position: -72px 0;}
          }
        }
      }
    }
  }

  &-navigation{
    padding: 60px 0;

    @include BootstrapMaxWidthResponsive(1k){
      padding: 35px 0 40px;
    }
    @include BootstrapMaxWidthResponsive(hd){
      padding: 30px 0 35px;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 0 0 5px;
    }

    &-col{

      @include BootstrapMaxWidthResponsive(xl){
        padding-top: 20px;
        padding-bottom: 20px;

        &.col-sm-6{
          border-bottom: 1px solid transparentize($global-clr-white, 0.95);
        }
      }
      @include BootstrapMaxWidthResponsive(sm){
        &:last-child{
          padding-bottom: 0;
        }
      }

      &.navmtmenu{
        @include BootstrapMinWidthResponsive(xl){

          > .row{
            @include flexbox-flex-direction(column);

            .col + .col{
              margin-top: 5px;
            }

            h5{display: none;}
          }

        }
      }

      &.navanalysismenu{
        padding-top: 20px;
        margin-top: 30px;
        border-top: 1px solid transparentize($global-clr-white, 0.95);

        @include BootstrapMaxWidthResponsive(xl){
          margin-top: 0;
        }
        @include BootstrapMaxWidthResponsive(sm){
          .col-xm-4{
            margin-bottom: 15px;
          }
        }
      }

      &.navmultimenu{
        @include BootstrapMinWidthResponsive(xl){

          > .row > div[class*="-12"]{
            margin-top: 20px;

            &:first-child{margin-top: 0;}
          }

        }
        @include BootstrapMaxWidthResponsive(xl){
          border-bottom: none;
        }
      }

    }

    h4, h5{
      line-height: 1.2;
      position: relative;
    }

    h4 + h4{
      margin-top: 15px;

      @include BootstrapMaxWidthResponsive(xl){
        margin-top: 10px;
      }
    }

    ul + h4{
      margin-top: 20px;
    }

    h4{
      color: $global-clr-white;
      font-size: 22px;
      margin-bottom: 5px;

      @include BootstrapMaxWidthResponsive(1k){
        font-size: 20px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        font-size: 18px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        font-size: 16px;
      }

      a{
        color: $global-clr-white;
        @include transition-multiple(color 0.15s ease-in-out);

        &:hover{
          color: $global-clr-green;
        }
      }
    }

    h5{
      color: $global-clr-green;
      font-size: 16px;
      margin-bottom: 5px;

      @include BootstrapMaxWidthResponsive(1k){
        font-size: 15px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        font-size: 14px;
      }

      a{
        color: $global-clr-green;
      }
    }

    &-list{

      > li{
        font-size: 16px;
        line-height: 1.2;
        margin: 5px 0;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 15px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 14px;
        }

        &:first-child{margin-top: 0;}
        &:last-child{margin-bottom: 0;}

        a{
          color: #7f8690;
          @include transition-multiple(color 0.15s ease-in-out);

          &:hover{
            color: $global-clr-white;
          }
        }
      }

      &.ulanalysisforexmenu{
        @include flexbox-display-flex();
        @include flexbox-flex-wrap(wrap);
        margin-left: -15px;
        margin-right: -15px;

        > li{
          @include flexbox-flex(0 0 calc(100%/2));
          max-width: calc(100%/2);
          padding-left: 15px;
          padding-right: 15px;

          &:nth-child(2){
            margin-top: 0;
          }
        }

        @include BootstrapMaxWidthResponsive(sm){
          display: block;
          margin: 0;

          > li{
            max-width: calc(100%/1);
            padding-left: 0;
            padding-right: 0;

            &:nth-child(2){
              margin-top: 5px;
            }
          }
        }
      }

    }
  }

  &-risk{

    &-box{
      padding: 15px;
      border: 1px solid transparentize($global-clr-green, 0.5);
      @include border-radius(3px);

      @include BootstrapMaxWidthResponsive(1k){
        padding: 10px;
      }
    }

    h6{
      color: $global-clr-green;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 5px;

      @include BootstrapMaxWidthResponsive(1k){
        font-size: 15px;
      }
    }

    p{
      font-size: 15px;
      line-height: 1.25;
      margin-bottom: 5px;

      @include BootstrapMaxWidthResponsive(1k){
        font-size: 14px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        font-size: 13px;
      }

      &:last-child{margin-bottom: 0;}

      a{
        color: $global-clr-green;
        text-decoration: underline;
      }
    }

  }

  &-bottom{
    font-size: 16px;
    line-height: 1.2;
    padding: 20px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 15px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 13px 0;
    }

    &-row{
      @include flexbox-align-items(center);
      @include flexbox-justify-content(space-between);
    }

    &-copyright{
      i.copylogo svg{
        width: auto;
        height: 11px;
        position: relative;
        top: -2px;
      }
    }

    &-contact{}
  }

}