.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 10;

  &::before{
    content: "";
    background-color: transparentize($global-clr-dark-black, 0.05);
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    @include transition-multiple(height 0.15s ease-in-out);
  }

  &-web{
    position: relative;

    &-top{
      background-color: transparentize($global-clr-dark-black, 0.25);
      padding: 15px 0;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 12px 0;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 7px 0;
      }

      > .container{
        @include BootstrapMaxWidthResponsive(lg){
          //max-width: 100%;
        }
      }

      &-row{
        @include flexbox-align-items(center);
        @include flexbox-justify-content(space-between);
      }

      &-headright{
        @include BootstrapMaxWidthResponsive(lg){
          position: relative;
          right: 135px;
        }
        &-row{
          @include flexbox-align-items(center);
        }
      }

      #{$headerclassname}-userarea{}

    }

    &-btm{
      padding: 10px 0;

      @include BootstrapMaxWidthResponsive(hd){
        padding: 5px 0;
      }
      @include BootstrapMaxWidthResponsive(lg){
        height: 0;
        padding: 0;
      }

      > .container{
        @include BootstrapMaxWidthResponsive(lg){
          //max-width: 100%;
        }
      }

      &-row{
        @include flexbox-align-items(center);
        margin-left: -30px;
      }

      #{$headerclassname}-userarea-btns{
        @include BootstrapMaxWidthResponsive(lg){
          position: absolute;
          right: 15px;
          top: -41px;
        }
      }

    }
  }

  &-logo{

    @include BootstrapMaxWidthResponsive(lg){
      @include flexbox-display-flex();
      @include flexbox-align-items(center);
    }

    &-link{
      width: 175px;
      height: 25px;

      @include BootstrapMaxWidthResponsive(1k){
        width: 160px;
        height: 24px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        width: 140px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        width: 130px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        width: 130px;
        position: relative;
        top: -1px;
      }
    }
  }

  &-navigation{
    &-navbar{
      padding-left: 0;
      padding-right: 0;

      @include BootstrapMaxWidthResponsive(hd){
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  &-ticker{
    color: $global-clr-white;
    font-size: 14px;
    line-height: 1;
    max-width: 540px;
    padding-right: 30px;

    @include BootstrapMaxWidthResponsive(hd){
      font-size: 13px;
      max-width: 520px;
    }
    @include BootstrapMaxWidthResponsive(lg){
      max-width: 150px;
      padding-right: 15px;
    }

    .headticker{

      &-owl{
        text-align: center;
        z-index: 0;

        .owl{
          &-stage{
            &-outer{
              margin-top: 2px;
              position: relative;
              z-index: 1;

              @include BootstrapMaxWidthResponsive(hd){
                margin-top: 0;
              }

              &::before,
              &::after{
                content: "";
                width: 8px;
                height: 8px;
                background-color: $global-clr-dark-black;
                opacity: 1;
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                @include border-radius(50%);
                z-index: 1;

                @include BootstrapMaxWidthResponsive(lg){
                  display: none;
                }
              }

              &::before{
                left: -2px;
              }
              &::after{
                right: -2px;
              }
            }
          }

          &-item{
            &::before{
              content: "";
              width: 4px;
              height: 4px;
              background-color: $global-clr-green;
              opacity: 1;
              position: absolute;
              left: -2px;
              top: 50%;
              @include translateY(-50%);
              @include border-radius(50%);

              @include BootstrapMaxWidthResponsive(lg){
                display: none;
              }
            }

            &.cloned{}
            &.active{}

            > li{
              padding: 2px 10px 0;
            }
          }

          &-nav{
            @include flexbox-display-flex();
            @include flexbox-justify-content(space-between);
            margin: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;

            button[class*="owl-"]{
              width: 15px;
              margin: 0;
              @include border-radius(0);
              position: relative;
              z-index: 1;

              &::before{
                content: "";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC44NDUiIGhlaWdodD0iMjguOTQ2IiB2aWV3Qm94PSIwIDAgMTguODQ1IDI4Ljk0NiI+DQogIDxwYXRoIGlkPSJQYXRoXzk0IiBkYXRhLW5hbWU9IlBhdGggOTQiIGQ9Ik0yOTMuMTM0LDkxLjQ5MmwtMTAtMTMuNTgxLDguOTc5LTEzLjU3NGExLDEsMCwwLDAsLjIzNC0uNmMwLS4yLS4xNTQtLjI5Mi0uNDY4LS4yOTJoLTcuMDQ2YTMuMzg4LDMuMzg4LDAsMCwwLS43ODUuMDc2LDEuMzcsMS4zNywwLDAsMC0uNjY2LjU0OGwtOC41NjIsMTMuMTU3YTEuMywxLjMsMCwwLDAtLjI3Ny42OTMsMS4xNjcsMS4xNjcsMCwwLDAsLjE0MS41NjhsOS41NjMsMTMuMDQ3YTIuMDI1LDIuMDI1LDAsMCwwLC41MDcuNjQyLDEuMTA4LDEuMTA4LDAsMCwwLC43MDYuMjE1aDcuNGMuNiwwLC42OS0uMy4yNzEtLjkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5My4zOTEgOTIuMzg4KSByb3RhdGUoMTgwKSIgZmlsbD0iIzBlYWYzNCIvPg0KPC9zdmc+DQo=");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 14px;
                height: 14px;
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
              }

              &:hover{
                background-color: transparent;
              }

              span{
                text-indent: -9999px;
                opacity: 0;
              }
            }

            button[class*="-prev"]{
              left: -15px;
              &::before{
                @include transform-multiple(translate(-50%, -50%) rotate(180deg));
              }
            }
            button[class*="-next"]{
              right: -15px;
              &::before{
                @include transform-multiple(translate(-50%, -50%) rotate(0deg));
              }
            }
          }
        }
      }

      &-symbol{
        display: block;
        text-transform: uppercase;
      }

      &-price{
        display: block;
        padding-top: 1px;
      }
    }
  }

  &-userarea{
    @include flexbox-display-flex();
    @include flexbox-align-items(center);

    > *{
      margin: 0 5px;

      &:first-child{margin-left: 0}
      &:last-child{margin-right: 0}
    }

    &-icons{
      @include flexbox-display-flex();

      > *{
        margin: 0 5px;

        @include BootstrapMaxWidthResponsive(1k){
          margin: 0 3px;
        }

        &:first-child{margin-left: 0}
        &:last-child{margin-right: 0}
      }

      .userareaicons{
        @include flexbox-display-flex();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(center);
        color: $global-clr-white;
        width: 30px;
        height: 30px;
        border: 2px solid $global-clr-green;
        position: relative;
        @include border-radius(50%);
        @include transition-multiple(all 0.15s ease-in-out);

        @include BootstrapMaxWidthResponsive(1k){
          width: 28px;
          height: 28px;
        }

        &:before{
          @include transition-multiple(all 0.15s ease-in-out);
        }

        &:hover{
          color: $global-clr-white;
          background-color: $global-clr-green;

          &::before{
            background-color: $global-clr-green;
          }
        }

        i.headtopicons{
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          overflow: hidden;
          display: inline-block;
          margin: auto;
          position: relative;

          &-call{
            width: 14px;
            height: 14px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4NCiAgPGcgaWQ9IkNBTEwiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NzUgLTI0NikiPg0KICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfMSIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMSIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzUgMjQ2KSIgZmlsbD0iIzAwZGJkNCIgb3BhY2l0eT0iMCIvPg0KICAgIDxnIGlkPSJfMTA1MTM3NCIgZGF0YS1uYW1lPSIxMDUxMzc0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzMuODM4IDI0NS42MTUpIj4NCiAgICAgIDxwYXRoIGlkPSJQYXRoXzIiIGRhdGEtbmFtZT0iUGF0aCAyIiBkPSJNMTM0Ljk2NCw5OC4wNjZhMTAuNTE4LDEwLjUxOCwwLDAsMS04LjQzNiw4LjQzNmMtMS4zODYuMjY0LTMuNDIuMy00LjQxNC0uNjlsLS41NTQtLjU1NGExLjQ4MSwxLjQ4MSwwLDAsMSwwLTIuMDk0bDIuMjE2LTIuMjE2YTEuNDgxLDEuNDgxLDAsMCwxLDIuMDk1LDBsLjU1NC41NTRhLjk4Ni45ODYsMCwwLDAsMS4zMTgsMGwyLjIxLTIuMy4wMS0uMDFhLjg3Ljg3LDAsMCwwLDAtMS4yMjlsLS41NTQtLjU1NGExLjQ4LDEuNDgsMCwwLDEsMC0yLjA5NWwyLjIxNi0yLjIxNmExLjQ4MywxLjQ4MywwLDAsMSwyLjA5NCwwbC41NTQuNTU0aDBjLjc5My43OTMsMS4wNTgsMi40ODUuNjksNC40MTRabS0xLjY3Ny0zLjQyN2MtLjU4Mi0uNTY4LS41NS0uNTc5LS42MTUtLjU3OWEuMDg2LjA4NiwwLDAsMC0uMDYxLjAyNWMtMi4zMzUsMi4zNDctMi4yNDEsMi4yMS0yLjI0MSwyLjI3N2EuMDg0LjA4NCwwLDAsMCwuMDI1LjA2MWwuNTU0LjU1NGEyLjI2MywyLjI2MywwLDAsMSwuMDA2LDMuMmwtMi4yMTEsMi4zLS4wMS4wMWEyLjM4LDIuMzgsMCwwLDEtMy4zLDBsLS41NTQtLjU1NGEuMDg2LjA4NiwwLDAsMC0uMTIxLDBjLTIuMzM1LDIuMzQ3LTIuMjQxLDIuMjA5LTIuMjQxLDIuMjc3YS4wODMuMDgzLDAsMCwwLC4wMjUuMDYxbC41NTQuNTU0Yy4zOC4zOCwxLjU4OS42MDcsMy4xNjYuMzA2YTkuMTIzLDkuMTIzLDAsMCwwLDcuMzI2LTcuMzI2QzEzMy44OTQsOTYuMjI4LDEzMy42NjcsOTUuMDE5LDEzMy4yODcsOTQuNjM5Wm0wLDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMTkuOTY1IC05Mi4yODEpIiBmaWxsPSIjZmZmIi8+DQogICAgPC9nPg0KICA8L2c+DQo8L3N2Zz4NCg==");
          }

          &-live{
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4NCiAgPGcgaWQ9IkxpdmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NzUgLTI0NikiPg0KICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfMSIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMSIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NzUgMjQ2KSIgZmlsbD0iIzAwZGJkNCIgb3BhY2l0eT0iMCIvPg0KICAgIDxnIGlkPSJfNTQ3NjEiIGRhdGEtbmFtZT0iNTQ3NjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3NSAyNDYpIj4NCiAgICAgIDxnIGlkPSJfeDMyX18yNl8iPg0KICAgICAgICA8ZyBpZD0iR3JvdXBfOSIgZGF0YS1uYW1lPSJHcm91cCA5Ij4NCiAgICAgICAgICA8cGF0aCBpZD0iUGF0aF84IiBkYXRhLW5hbWU9IlBhdGggOCIgZD0iTTkuMTg4LDcuNDM4SDQuODEzYS40MzcuNDM3LDAsMSwwLDAsLjg3NUg5LjE4OGEuNDM3LjQzNywwLDEsMCwwLS44NzVabS44NzUtMi42MjVIMy45MzhhLjQzOC40MzgsMCwxLDAsMCwuODc1aDYuMTI1YS40MzguNDM4LDAsMCwwLDAtLjg3NVpNNywwQzMuMTM0LDAsMCwyLjc0MiwwLDYuMTI1QTUuODYzLDUuODYzLDAsMCwwLDIuNjI1LDEwLjlWMTRsMy4wNjYtMS44NjFBOC4wMjcsOC4wMjcsMCwwLDAsNywxMi4yNWMzLjg2NiwwLDctMi43NDIsNy02LjEyNVMxMC44NjYsMCw3LDBaTTcsMTEuMzc1YTcuMDgsNy4wOCwwLDAsMS0xLjQ3OS0uMTYxbC0yLjA2LDEuMjM4LjAyOC0yLjAyOWE1LjA3Myw1LjA3MywwLDAsMS0yLjYxNC00LjNDLjg3NSwzLjIyNiwzLjYxNy44NzUsNywuODc1czYuMTI1LDIuMzUxLDYuMTI1LDUuMjVTMTAuMzgzLDExLjM3NSw3LDExLjM3NVoiIGZpbGw9IiNmZmYiLz4NCiAgICAgICAgPC9nPg0KICAgICAgPC9nPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=");
            top: 1px;
          }

          &-wp{
            width: 14px;
            height: 14px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4NCiAgPGcgaWQ9IldQIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTc1IC0yNDYpIj4NCiAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlXzEiIGRhdGEtbmFtZT0iUmVjdGFuZ2xlIDEiIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTc1IDI0NikiIGZpbGw9IiMwMGRiZDQiIG9wYWNpdHk9IjAiLz4NCiAgICA8ZyBpZD0iXzEwNTEzNzQiIGRhdGEtbmFtZT0iMTA1MTM3NCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTczLjkyOCAyNDUuNzA2KSI+DQogICAgICA8cGF0aCBpZD0iUGF0aF8yIiBkYXRhLW5hbWU9IlBhdGggMiIgZD0iTTEyMS4yOSw5OC4wNjZhMTAuNTE4LDEwLjUxOCwwLDAsMCw4LjQzNiw4LjQzNmMxLjM4Ni4yNjQsMy40Mi4zLDQuNDE0LS42OWwuNTU0LS41NTRhMS40ODEsMS40ODEsMCwwLDAsMC0yLjA5NGwtMi4yMTYtMi4yMTZhMS40ODEsMS40ODEsMCwwLDAtMi4wOTUsMGwtLjU1NC41NTRhLjk4Ni45ODYsMCwwLDEtMS4zMTgsMGwtMi4yMS0yLjMtLjAxLS4wMWEuODcuODcsMCwwLDEsMC0xLjIyOWwuNTU0LS41NTRhMS40OCwxLjQ4LDAsMCwwLDAtMi4wOTVMMTI0LjYyOSw5My4xYTEuNDgzLDEuNDgzLDAsMCwwLTIuMDk0LDBsLS41NTQuNTU0aDBjLS43OTMuNzkzLTEuMDU4LDIuNDg1LS42OSw0LjQxNFptMS42NzctMy40MjdjLjU4Mi0uNTY4LjU1LS41NzkuNjE1LS41NzlhLjA4Ni4wODYsMCwwLDEsLjA2MS4wMjVjMi4zMzUsMi4zNDcsMi4yNDEsMi4yMSwyLjI0MSwyLjI3N2EuMDg0LjA4NCwwLDAsMS0uMDI1LjA2MWwtLjU1NC41NTRhMi4yNjMsMi4yNjMsMCwwLDAtLjAwNiwzLjJsMi4yMTIsMi4zLjAxLjAxYTIuMzgsMi4zOCwwLDAsMCwzLjMsMGwuNTU0LS41NTRhLjA4Ni4wODYsMCwwLDEsLjEyMSwwYzIuMzM1LDIuMzQ3LDIuMjQxLDIuMjA5LDIuMjQxLDIuMjc3YS4wODMuMDgzLDAsMCwxLS4wMjUuMDYxbC0uNTU0LjU1NGMtLjM4LjM4LTEuNTg5LjYwNy0zLjE2Ni4zMDZhOS4xMjMsOS4xMjMsMCwwLDEtNy4zMjYtNy4zMjZDMTIyLjM2LDk2LjIyOCwxMjIuNTg3LDk1LjAxOSwxMjIuOTY3LDk0LjYzOVptMCwwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTIwLjA1NSAtOTIuMzcxKSIgZmlsbD0iI2ZmZiIvPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=");
          }
        }

        &-live{}

        &-call{}

        &-whatsapp{
          &::before{
            content: "";
            width: 6px;
            height: 6px;
            background-color: $global-clr-dark-black;
            border-right: 2px solid $global-clr-green;
            border-bottom: 2px solid $global-clr-green;
            position: absolute;
            left: 0;
            bottom: 0;
            @include rotate(90);
          }
        }
      }
    }

    &-btns{
      > .btn{
        height: 36px;
        font-size: 16px;
        line-height: 1.4;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 15px;
          line-height: 1.5;
        }
        @include BootstrapMaxWidthResponsive(1k){
          font-size: 14px;
          line-height: 1.4;
          height: 32px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 13px;
          line-height: 1.2;
          height: 28px;
        }
      }
    }
  }

  &.navscroll{

    &::before{
      height: 100%;
    }

    #{$headerclassname}-web-top{}
    #{$headerclassname}-web-btm{}
  }

}