
.headtitle{
  color: $global-clr-white;
  background-color: transparentize($global-clr-black, 0.05);
  padding-top: 120px;
  min-height: 120px;
  position: relative;

  @include BootstrapMaxWidthResponsive(1k){
    padding-top: 110px;
    min-height: 110px;
  }
  @include BootstrapMaxWidthResponsive(hd){
    padding-top: 100px;
    min-height: 100px;
  }
  @include BootstrapMaxWidthResponsive(lg){
    padding-top: 55px;
    min-height: 55px;
  }

  &-bg{

    &::before{
      content: "";
      background-image: url(#{$global-img-path}/headbg/headtitle_content_default_bg.jpg);
      background-position: center top -50px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      opacity: 0.25;

      @include BootstrapMaxWidthResponsive(lg){
        background-position: center bottom;
      }
    }
  }

  .headcontent{
    position: relative;

    &-wrapper{
      @include flexbox-display-flex();
      @include flexbox-justify-content(space-between);
      @include flexbox-align-items(center);
      padding: 40px 0 70px;
      position: relative;
      z-index: 1;

      @include BootstrapMaxWidthResponsive(1k){
        padding: 10px 0 30px;
      }
      @include BootstrapMaxWidthResponsive(hd){
        padding: 15px 0 25px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        padding: 15px 0 20px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding: 15px 0;
      }
    }

    &-title{
      @include flexbox-flex-basis(0);
      @include flexbox-flex-grow(1);
      min-width: 0;
      max-width: 100%;
      padding-right: 100px;

      @include BootstrapMaxWidthResponsive(xl){
        padding-right: 80px;
        padding-bottom: 25px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        padding-right: 50px;
        padding-bottom: 15px;
      }

      h1{
        color: $global-clr-green;
        font-size: 24px;
        font-weight: 500;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 20px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 18px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          font-size: 16px;
        }
      }
      h2{
        font-size: 46px;
        font-weight: 700;
        line-height: 1.1;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 36px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 34px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 28px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          font-size: 24px;
        }
      }
      p{
        font-size: 20px;
        line-height: 1.2;
        margin-top: 10px;

        @include BootstrapMaxWidthResponsive(1k){
          font-size: 18px;
        }
        @include BootstrapMaxWidthResponsive(hd){
          font-size: 16px;
          margin-top: 5px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          font-size: 15px;
          margin-top: 3px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          font-size: 14px;
        }
      }

    }

    &-account{
      @include flexbox-flex(0 0 auto);
      width: 320px;
      max-width: 100%;

      @include BootstrapMaxWidthResponsive(hd){
        width: 280px;
      }
      @include BootstrapMaxWidthResponsive(xl){
        width: 240px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        width: 200px;
      }

      .openaccountbox{
        margin-top: 15px;

        @include BootstrapMaxWidthResponsive(hd){
          margin-top: 10px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          margin-top: 0;
        }
      }

      .openaccountbtns{
        @include BootstrapMaxWidthResponsive(xl){
          margin-top: 0;
        }
      }
    }
  }

  .headsubtabs{}
}

@media print{}